# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data files (large / PII)
*.csv
*.xlsb
*.xlsx
*.xlsm

# Power BI
*.pbix

# OS
.DS_Store
desktop.ini
Thumbs.db

# Env
.env

# Office temp files
~$*

